

$primary-states:       #ba54f5 !default;

$primary:       #e14eca !default;
$full-width:                        100% !default;
$opacity-8:                  rgba(255,255,255, .8) !default;
$btn-round-radius:            30px         !default;
$font-size-dash:              .875rem !default;
$font-size-base:              $font-size-dash !default; // Assumes the browser default, typically `16px`
$font-size-xs:                ($font-size-base * .714);
$font-weight-normal:          400 !default;
$padding-base-vertical:        .5rem !default;
$padding-base-horizontal:      .7rem !default;
$opacity-5:                  rgba(255,255,255, .5) !default;

// gradient
$default-states:       #263148 !default;
$primary-states:       #ba54f5 !default;
$success-states:       #0098f0 !default;
$info-states:          #3358f4 !default;
$warning-states:       #ff6491 !default;
$danger-states:        #ec250d !default;
$black-states:         #1d253b !default;

$box-shadow-raised:        0px 10px 25px 0px rgba(0, 0, 0, 0.3);



@mixin linear-gradient($color1, $color2){
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, $color1 , $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, $color1 , $color2); /* Standard syntax */
}


@mixin transform-translate-x($value){
    -webkit-transform:  translate3d($value, 0, 0);
       -moz-transform: translate3d($value, 0, 0);
       -o-transform: translate3d($value, 0, 0);
       -ms-transform: translate3d($value, 0, 0);
       transform: translate3d($value, 0, 0);
}

.sidebar .logo .simple-text {
    color: rgb(232, 230, 227);
    text-decoration-color: initial;
}


.simple-text{
    text-transform: uppercase;
    padding: $padding-base-vertical 0;
    display: block;
    white-space: nowrap;
    font-size: $font-size-base;
    color: $white;
    text-decoration: none;
    font-weight: $font-weight-normal;
    line-height: 30px;
    overflow: hidden;
}

.logo-normal{
    display: block;
    opacity: 1;
    @include transform-translate-x(0px);
    position: relative;
    padding: $padding-base-vertical $padding-base-horizontal 1rem;
    z-index: 4;
}



.sidebar {
    @include linear-gradient($primary-states, $primary);
    height: calc(100vh - 90px);
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.6);
    
    // border-radius: 5px;


    // .navbar-minimize{
    //   position: absolute;
    //   right: 20px;
    //   top: 2px;
    //   opacity: 1;
      
    // }
    
    .nav{
        margin-top: 20px;
        display: block;
        list-style-type: none;

        li{

            > a{
                margin: 10px 15px 0;
                border-radius: $btn-round-radius;
                color: $white;
                display: block;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                font-size: $font-size-xs;
                padding: 10px 5px;
                line-height: $line-height-lg;
            }

            // &:first-child > a{
            //     margin: 0 15px;

            // }

            &:hover:not(.active) > a,
            &:focus:not(.active) > a{
                p,i{
                  color: $white;
                  font-weight: bold;
                }
            }

            &:hover:not(.active) > a i,
            &:focus:not(.active) > a i{
                color: $white;
            }

            &.active > a:not([data-toggle="collapse"]){
                background: transparent;

                i,p{
                  color: white;
                }

                &:before{
                  content: " ";
                  position: absolute;
                  height: 6px;
                  width: 6px;
                  top: 22px;
                  left: -4px;
                  background: $white;
                  border-radius: 50%;
                }
            }

            &.active > a[data-toggle="collapse"]{
              background: transparent;
              box-shadow: none;
              color: $white;

              i{
                color: $white;
              }

              & + div .nav .active a{

                box-shadow: none;
                .sidebar-mini-icon, .sidebar-normal{
                  color: $white;
                  font-weight: $font-weight-normal;
                }

                &:before{
                  content: " ";
                  position: absolute;
                  height: 6px;
                  width: 6px;
                  top: 17px;
                  left: -4px;
                  background: $white;
                  border-radius: 50%;
                }
              }
              &:before{
                content: " ";
                position: absolute;
                height: 6px;
                width: 6px;
                top: 22px;
                left: -4px;
                background: rgba($white,0.6);
                border-radius: 50%;
              }
            }
        }

        p{
            margin: 0;
            line-height: 30px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
            
        }

        i{
            font-size: 20px;
            float: left;
            margin-right: 12px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            color: $opacity-8;
            position: relative;
        }
    }

}
